{block content}
<div class="garage" style="width100%;margin-top:3rem;">
{dump $garage}

	{if $garage === null}
		<h3>Vytvořit garáž</h3>
		<div class="form" style="margin-top:10rem;">
			{control createGarage}
	{else}
		<h3>Vaše garáže</h3>
		{foreach $garage as $key => $gar}
			<a n:href="Garage:default $gar->id">{$gar->jmeno}</a>
		{/foreach}
{/if}
  
</div>


