{block content}
<div class="card" style="width: 18rem; margin-top:10rem;">
  <div class="card-body">
    <h2 class="card-title" style="text-align:center;">Registrace</h2>
  	{control registration}
  </div>
</div>