body {
	justify-content: center;
}

.section {
	justify-content: center;
    width: 80%;
    margin: auto;
}

.card {
	margin-top: 300px;
}

#middle {
	margin-top: 10rem;
}

#garage-name {
	margin-top: -50px;
} 
